:root {

    --font-size: 18px;
    --font-size-xs: 12px;
    --font-size-xs2: 13px;
    --font-size-md: 15px;
    --font-size-lg: 31px;
    --font-size-xl: 34px;
    --font-size-xxl: 41px;

    --font-family: "PT Sans", sans-serif;

    @media (max-width: 1360px){
        --font-size-lg: 24px;
        --font-size-xl: 28px;
        --font-size-xxl: 31px;
    }

    @media (max-width: 920px){

    }

    @media (max-width: 720px){
        --font-size: 14px;
        --font-size-xs: 10px;
        --font-size-xs2: 11px;
        --font-size-md: 13px;
        --font-size-lg: 18px;
        --font-size-xl: 24px;
        --font-size-xxl: 28px;
    }
}